.container {
    width: 100%;
    max-width: $container;
    padding: 0 24px;
    margin: 0 auto;

    @media (max-width: $mobile-l) {
        padding: 0 16px;
    }
}
.container-buttons {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
}
.flex--center {
    justify-content: center;
}
.h100p {
    height: 100%;
}

// .section {
// margin: 62px 0;
// @media (max-width: $tablet) {
//     margin: 40px 0;
// }

// @media (max-width: $mobile-m) {
//     margin: 30px 0;
// }
// }

.page-content {
    width: 100%;
    padding: 32px 40px;
    overflow: hidden;
    transition: margin 0.3s ease;
    @media (max-width: 1100px) {
        padding-top: 124px;
        padding-right: 20px;
        padding-left: 20px;
    }
    @media (max-width: 575px) {
        padding-top: 105px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

.page-content--more-gap {
    @media (min-width: 1101px) {
        padding-top: 40px;
    }
}
.wrapper--app {
    flex-direction: row;
    width: 100%;
    overflow: visible;
    @media (max-width: 1100px) {
        flex-direction: column;
    }
}
.wrapper--screen {
    height: 100%;
}

.cards--fullsize {
    padding: 24px;
    background-color: var(--bg-element);
    border-radius: 5px;

    @media (max-width: 575px) {
        padding: 16px;
    }
}
.cards--fullsize .card {
    padding-bottom: 32px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--c-blind);
    border-radius: 0px;

    @media (max-width: 1100px) {
        margin-bottom: 32px;
    }
    @media (max-width: 575px) {
        padding-bottom: 23px;
        margin-bottom: 22px;
    }
}
.cards--fullsize .card:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.cards--fullsize .card__pic {
    height: 260px;
    margin-bottom: 16px;
    border-radius: 5px;

    @media (max-width: 575px) {
        height: 127px;
    }
}
.cards--fullsize .card-meta {
    margin-bottom: 16px;
}
.cards--fullsize-only-text .card-meta {
    margin-bottom: 11px;
    @media (max-width: 375px) {
        margin-bottom: 12px;
    }
}
.cards--fullsize .card__info {
    padding: 0;
}
.cards--fullsize .card__title {
    margin-bottom: 17px;
    font-size: var(--fz-h3);
    line-height: var(--lh-h3);
}

.cards--fullsize .card__desc {
    @media (max-width: 575px) {
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.grid__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 24px;
    column-gap: 24px;
    @media (max-width: 575px) {
        row-gap: 16px;
    }
}
.grid__cards .card--event .card__pic {
    @media (max-width: 1100px) {
        height: 166px;
    }
    @media (max-width: 575px) {
        height: 163px;
    }
}

// projects

.cards--fullsize-projects .card {
    margin-bottom: 24px;
    @media (max-width: 575px) {
        margin-bottom: 16px;
    }
}

.cards--fullsize-projects .card:last-child {
    margin-bottom: 0;
}

.cards--fullsize-projects .card__title {
    font-size: var(--fz-h1);
    line-height: var(--lh-h1);
}

.cards--fullsize-projects .card--bg-pic .card__tags {
    @media (min-width: 576px) {
        top: 22px;
        left: 22px;
    }
}

.cards--fullsize-projects .card--bg-pic .card__info {
    @media (min-width: 576px) {
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
    }
}

.cards--fullsize-projects .card--bg-pic .card__title {
    @media (min-width: 576px) {
        margin-bottom: 16px;
    }
}
