$mediaTablet: 991px;
$mediaMobile: 575px;
// Пользовательские переменные
:root {
    // color-scheme: light dark;

    --ffMain: "ALS Sirius", sans-serif;
    --fw-regular: normal;
    --fw-bold: bold;
    --ffHeader: sans-serif;
    --tr: 0.3s; // Плавность перехода
    --radius: 16px; // border-radius

    --fz-h1: 30px;
    --lh-h1: 133.3%;
    @media (max-width: $mediaMobile) {
        --fz-h1: 20px;
        --lh-h1: 150%;
    }

    --fz-h2: 26px;
    --lh-h2: 123.3%;
    @media (max-width: $mediaMobile) {
        --fz-h2: 18px;
        --lh-h2: 133.3%;
    }

    --fz-h3: 20px;
    --lh-h3: 130%;
    @media (max-width: $mediaMobile) {
        --fz-h3: 16px;
        --lh-h3: 150%;
    }

    --fz-h4: 16px;
    --lh-h4: 150%;

    --fz-navigation: 16px;
    --lh-navigation: 125%;

    --fz-button: 16px;
    --lh-button: 125%;

    --fz-button--small: 14px;
    --lh-button--small: 120%;

    --fz-lead: 18px;
    --lh-lead: 177.7%;
    @media (max-width: $mediaMobile) {
        --fz-lead: 16px;
        --lh-lead: 187.7%;
    }

    --fz-body: 16px;
    --lh-body: 187.6%;
    --lh-body--p: 150%;
    --fz-body--small: 14px;
    --lh-body--small: 157.14285714285714285714285714286%;
    --fz-body--small-2: 12px;
    --lh-body--small-2: 150%;

    --fz-tag: 12px;
    --lh-tag: 150%;
}

$ffMain: var(--ffMain);
$ffHeader: var(--ffHeader);
$tr: var(--tr);
$minHover: 769px; // Минимальное разрешения экрана для hover-эффекта
$container: 1158px;
$radius: var(--radius);

$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

// Цвета
// :root {
//     --main: #242424;
//     --second: #747474;
//     --accent: #399478;
//     --accent-hover: #44bd99;
//     --accent-active: #37866e;
//     --accent2: #dc8b2d;
//     --accent2-active: #c27b29;
//     --outline: #c0c0c0;
//     --bg-page: #fff;
//     --bg-block: #f8f8f8;
//     --error: #e83d3d;
// }

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-active: var(--accent-active);
$accent2: var(--accent2);
$accent2-active: var(--accent2-active);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-block: var(--bg-block);
$error: var(--error);
