:root {
    // color-scheme: dark;

    --bg-app: #1b1d1f;
    --bg-element: #2e3337;

    --c-accent: #2ca945;
    --c-accent--dark: #258a4e;
    --c-accent--light: #d8eee1;

    --c-text: #eaeaea;
    --c-text-grey: #d1d1d1;
    --c-text-grey-2: #a1a3a6;
    --c-text-disabled: #b0b4b9;
    --c-text-on: #eaeaea;

    --c-blind: #626161;
    --c-element-disabled: #242729;
    --border-bq: #57595d;
    --bg-modal: rgba(234, 234, 234, 0.2);
    --c-error: #ed6152;
}

.header-logo {
    filter: invert(1);
}
