:root {
    --bg-app: #f3f5f6;
    --bg-element: #ffffff;

    --c-accent: #28be46;
    --c-accent--dark: #0e9243;
    --c-accent--light: #d8eee1;

    --c-text: #000000;
    --c-text-grey: #565656;
    --c-text-grey-2: #999999;
    --c-text-disabled: #b0b4b9;
    --c-text-on: #ffffff;

    --c-blind: #e7e9ea;
    --c-element-disabled: #eeeeee;
    --border-bq: #d8d8de;
    --bg-modal: rgba(0, 0, 0, 0.2);
    --bs-snack: 0px 4px 4px rgba(190, 190, 190, 0.25),
        6px 7px 20px rgba(208, 208, 208, 0.25),
        3px 13px 52px rgba(209, 209, 209, 0.25);
    --c-error: #e23c2a;
}

.header-logo {
    filter: invert(0);
}
