@import "fonts"; // Шрифты
@import "variables"; // Переменные
@import "reset"; // Сброс css

@mixin getmask($image_path: null, $size: contain) {
    -webkit-mask: url("#{$image_path}");
    mask: url("#{$image_path}");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: #{$size};
    mask-size: #{$size};
}

// Миксин для перевода px в vw
@function vw($px) {
    @return $px / (1920 / 100vw);
}

// Общие стили для страниц
// Стиль выделения элементов на странице
// ::selection {
//     // background: #CCF2E9;
//     background: $accent-hover;
//     color: #fff;
// }
// ::-moz-selection {
//     // background: #CCF2E9;
//     background: $accent-hover;
//     color: #fff;
// }

// Стиль скроллбара
// body::-webkit-scrollbar {
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: .6em;
//     height: 100%;
// }

// body::-webkit-scrollbar-track {
//     background: #FEF1EB;
// }

// body::-webkit-scrollbar-thumb {
//     background-color: #CAC1BC;
// }

body {
    overscroll-behavior: none;
    font-family: $ffMain;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-text);
    background: var(--bg-app);

    &._lock {
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    body._lock.os-macos {
        padding: 0;
    }
}
._lock .page-content {
    opacity: 0.9;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

@import "grid"; // Сетка
@import "./sections/section";

// Анимация
@import "./animation";

// Компоненты
@import "./components/buttons";
@import "./components/forms";
@import "./components/input";
@import "./components/search";
@import "./components/modal";
@import "./components/card";
@import "./components/menu";
@import "./components/tabs";
@import "./components/socials";
@import "./components/sidebar";
@import "./components/message";
@import "./components/snack";

// Текстовые компоненты
@import "./components/text/text";
@import "./components/text/titles";

// Секции
@import "./sections/header";
@import "./sections/footer";
@import "./sections/detailed";
@import "./sections/about";

// Страницы

// Библиотеки
// @import "./libs/aos";
// @import "./libs/lightgallery";
@import "./libs/swiper";
@import "./libs/datepicker";

@import "./components/sliders";
@import "./components/datepicker";
