.card {
    position: relative;
    background-color: var(--bg-element);
    border-radius: 5px;
}

.card__tags {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 32px);
}

.tag {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 8px;
    padding-right: 12px;
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: var(--bg-element);
    border-radius: 5px;
}
.tag:last-child {
    margin-right: 0;
}
.tag__thumb {
    display: block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--c-text-grey);
}
.tag__text {
    font-size: var(--fz-body--small-2);
    line-height: var(--lh-body--small-2);
    color: var(--c-text-grey);
}

.card__pic {
    display: block;
    border-radius: 5px 5px 0 0;
}
.card__img {
    border-radius: inherit;
}
.card__info {
    padding: 16px;
}

.card-meta {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: var(--fz-body--small);
    line-height: var(--lh-body--small);
}
.card-meta__icon {
    width: 6px;
    min-width: 6px;
    height: 6px;
    margin-right: 6px;
    margin-bottom: 2px;
    fill: var(--c-accent);
}
.card-meta__title {
    margin-right: 24px;
    font-size: inherit;
    font-weight: 700;
    line-height: inherit;
}
.card-meta__title:hover {
    color: var(--c-accent);
}
.card-meta__desc {
    font-size: inherit;
    line-height: inherit;
    color: var(--c-text-grey);
}

.card__title {
    margin-bottom: 12px;
    font-size: var(--fz-h4);
    font-weight: 700;
    line-height: var(--lh-h4);
}

.card__desc {
    font-size: var(--fz-body--small);
    line-height: var(--lh-body--small);
    color: var(--c-text-grey);
}
