.datepicker .datepicker-picker {
    padding: 24px;
    font-family: var(--ffMain);
    font-weight: var(--fw-normal);
    background-color: var(--bg-element);
    border-radius: 5px;
    box-shadow: 3px 13px 52px rgba(209, 209, 209, 0.25);
}
.datepicker-controls {
    padding: 0;
    margin-bottom: 10px;
}
.datepicker-header .datepicker-controls .view-switch {
    justify-content: flex-start;
    order: -1;
    // padding: 0;
    margin-left: -2px;
    font-family: var(--ffMain);
    color: var(--c-text);
    background-color: transparent;
}
.datepicker-header .datepicker-controls .view-switch:hover {
    background-color: transparent;
}
.datepicker-header .datepicker-controls .button:hover {
    @media (min-width: $minHover) {
        color: var(--c-text);
        // background-color: transparent;
    }
}

.datepicker-header .datepicker-controls .prev-btn:hover,
.datepicker-header .datepicker-controls .next-btn:hover {
    color: transparent;
    background-color: var(--c-accent);
}
.datepicker-controls .prev-btn {
    font-family: var(--ffMain);
    color: transparent;
    background-color: var(--c-accent);
    @include getmask("../img/icons/angle-left.svg", 70%);
}
.datepicker-controls .next-btn {
    font-family: var(--ffMain);
    color: transparent;
    background-color: var(--c-accent);
    @include getmask("../img/icons/angle-right.svg", 70%);
}

.datepicker-header .datepicker-controls .prev-btn:hover,
.datepicker-header .datepicker-controls .next-btn:hover {
    @media (min-width: $minHover) {
        color: transparent;
        background-color: var(--c-accent--dark);
    }
}

.datepicker-controls .prev-btn:disabled,
.datepicker-controls .next-btn:disabled {
    background-color: var(--c-text-disabled);
}

.datepicker-view .dow {
    height: 40px;
    font-size: var(--fz-body--small-2);
    font-weight: var(--fw-normal);
    color: var(--c-text-disabled);
}

.datepicker-grid .datepicker-cell {
    font-size: var(--fz-body--small-2);
    color: var(--c-text);
    border-radius: 0;
}
.datepicker-grid .datepicker-cell:hover {
    @media (min-width: $minHover) {
        color: var(--c-accent);
        background-color: transparent;
    }
}

.datepicker-grid .datepicker-cell.disabled {
    color: var(--c-text-disabled);
}

.datepicker-grid .datepicker-cell.month {
    background-color: var(--bg-element);
}
.datepicker-grid .datepicker-cell.month.selected {
    font-weight: var(--fw-normal);
    color: var(--c-text-on);
    background-color: var(--c-accent);
}
.datepicker-grid .datepicker-cell.day.selected {
    font-weight: var(--fw-normal);
    color: var(--c-text-on);
    background-color: var(--c-accent);
}

.datepicker.active {
    @media (max-width: 575px) {
        right: 0 !important;
        left: 5px !important;
    }
}

.datepicker-cell.selected {
    color: var(--c-text-on);
    background-color: var(--c-accent);
}
.datepicker-cell.range-end:not(.selected),
.datepicker-cell.range-start:not(.selected) {
    color: var(--c-text-on);
    background-color: var(--c-accent);
}
.datepicker-cell.range {
    background: rgba(40, 190, 70, 0.1) !important;
}

.datepicker-cell.focused:not(.selected) {
    background-color: transparent;
}

.datepicker-cell.range-end.focused:not(.selected),
.datepicker-cell.range-start.focused:not(.selected) {
    background: var(--c-accent);
}
.datepicker-controls .clear-btn {
    display: none;
}
.datepicker-cell:not(.disabled):hover {
    color: var(--c-accent);
    background-color: transparent;
}
