.input {
    position: relative;
    width: 100%;
}
.input__field {
    width: 100%;
    padding: 0.893em 1.33em;
    font-size: inherit;
    background-color: var(--bg-element);
    border-radius: 5px;
}
.input__label {
    position: absolute;
    top: 0.8em;
    left: 42px;
    pointer-events: none;
}
