.menu {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 346px;
    height: calc(100 * 1vh);
    max-height: calc(100 * 1vh);
    overflow: visible;
    background-color: var(--bg-element);
    transition: all 0.3s ease-in;
    @media (max-width: 991px) {
        max-width: 100%;
    }
    @media (max-width: 991px) {
        position: fixed;
        max-width: 100%;
        height: calc(100 * 1vh);
        pointer-events: none;
        background-color: transparent;
    }
}
.menu::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(20px);
}
.menu--srink {
    max-width: 112px; // потому что ширина скроллбара
}
// .menu:hover::after {
//     @media (min-width: 992px) {
//         opacity: 1;
//     }
// }

.menu__nav-link .button__text {
    margin-right: auto;
    transition: all 0.5s ease;
}
.menu--shrink .menu__nav-link .button__text {
    @media (min-width: 992px) {
        width: 0;
        white-space: nowrap;
        opacity: 0;
    }
}
.menu:hover .menu__nav-link .button__text {
    width: 100%;
    opacity: 1;
}

.menu__sticky {
    position: sticky;
    top: 0px;
    z-index: 2;
    height: calc(100%);
    padding: 32px 40px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}
.menu--shrink .menu__sticky {
    @media (max-width: 991px) {
        height: 100%;
        padding: 0;
        overflow: hidden;
    }
}
// .menu:hover .menu__sticky {
//     @media (min-width: 1200px) {
//         background-color: var(--bg-element);
//     }
// }
.menu__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 991px) {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
        display: block;
        width: 100%;
        max-width: 384px;
        height: 100%;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        margin-left: auto;
        background: var(--bg-element);
        transition: all 0.3s ease-out;
        transform: translateX(100%);
    }
    @media (max-width: 575px) {
        max-width: 100%;
        padding-bottom: 120px;
    }
}

.menu__top {
    margin-bottom: 96px;
}

.menu--shrink .menu__top {
    @media (min-width: 992px) {
        margin-bottom: 0;
    }
}

.menu__bottom {
    display: block;
}
.menu--shrink .menu__bottom {
    display: none;
}

.menu__nav-list {
    padding-top: 20px;
    padding-bottom: 20px;
    // border-bottom: 1px solid var(--c-blind);
    transition: all 0.3s ease;
}

.menu--shrink .menu__nav-list {
    opacity: 0;
}

.menu__nav-list:first-child {
    display: block;
    border-bottom: 1px solid var(--c-blind);
    opacity: 1;
}
.menu__nav-list:last-child {
    margin-bottom: 8px;
    border-bottom: none;
}

.menu--shrink .menu__nav-list:first-child {
    border-bottom: none;
}

.menu:hover .menu__nav-list {
    display: block;
    opacity: 1;
}

.menu__nav-link .button__icon {
    background: transparent;
}

.menu__nav-item:hover {
    --button-color: var(--c-accent--dark);
    --icon-color: var(--c-accent--dark);
}
.menu__nav-item--active .menu__nav-link {
    --button-color: var(--c-accent);
    --icon-color: var(--c-accent);
}

.menu__nav-link {
    --button-color: var(--c-text-grey-2);
    --icon-color: var(--c-text-grey-2);
    padding: 20px 0;
    font-size: var(--fz-navigation);
    font-weight: 400;
    line-height: var(--lh-navigation);
}

.menu__links {
    margin-bottom: 30px;
    transition: all 0.5s ease;
}
.menu--srink .menu__links {
    @media (min-width: 992px) {
        white-space: nowrap;
        opacity: 0;
    }
}

.menu__links-link {
    display: block;
    margin-bottom: 24px;
}
.menu__links-link:hover {
    color: var(--c-accent);
}
.menu__links-link:last-of-type {
    margin-bottom: 0;
}
.menu--shrink .menu__theme {
    @media (min-width: 992px) {
        position: absolute;
        opacity: 0;
    }
}
.menu:hover .menu__theme {
    position: static;
    opacity: 1;
}

.menu--opened {
    height: #{"calc(1vh * 100)"};
    pointer-events: initial;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.menu--burger .menu__content {
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
}

.menu__sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    @media (max-width: 768px) {
        max-height: calc(100% - 85px);
    }
    @media (max-width: 575px) {
        max-height: calc(100% - 73px);
        padding-right: 16px;
        padding-left: 16px;
    }
}

.menu__search {
    display: none;
    height: 100%;
    padding: 20px 40px;
    background-color: var(--bg-app);
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    @media (max-width: 991px) {
        display: block;
        padding: 20px;
    }
    @media (max-width: 575px) {
        padding: 25px 16px;
    }
}
.menu__search .search__button {
    @media (max-width: 575px) {
        display: none;
    }
}

.menu--search .menu__search {
    transform: translateX(0);
}
