@mixin aboutBiggerTitle() {
    margin-bottom: 0;
    font-size: 40px;
    @media (max-width: 575px) {
        font-size: 32px;
    }
}

.about__organization {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--bg-element);
    border-radius: 5px;

    @media (max-width: 575px) {
        flex-direction: column;
    }
    @media (min-width: 1101px) {
        padding-bottom: 14px;
    }
}
.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    min-width: var(--size);
    max-width: var(--size);
    height: var(--size);
    margin-right: 16px;
    --size: 72px;
    @media (max-width: 575px) {
        --size: 36px;
        margin-right: 0;
        margin-bottom: 12px;
    }
}
.about-info {
    @media (max-width: 1100px) {
        padding-top: 1px;
    }
    @media (max-width: 576px) {
        padding-top: 4px;
    }
}
.about-info__title {
    margin-bottom: 5px;
}
.about-info__desc {
    line-height: 1.6;
}
.about__logo-img {
    display: block;
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.about__mission {
    max-width: 784px;
    line-height: var(--lh-body);
    // @media (max-width: 575px) {
    //     line-height: 1.87;
    // }
}
.about__mission + .about__mission {
    margin-top: 24px;
    @media (max-width: 1100px) {
        margin-top: 25px;
    }
}
@mixin accentCard {
    color: #fff;
    background-color: var(--c-accent);
    .about-cell__link {
        transition: all 0.3s ease;
        --icon-color: var(--c-text-on);
        .button__icon {
            --icon-color: var(--c-text-on);
        }
    }
    @media (min-width: $minHover) {
        &:hover .about-cell__link {
            opacity: 0.6;
            --icon-color: var(--c-accent--light);
            .button__icon {
                --icon-color: var(--c-accent--light);
            }
        }
    }
}
@mixin accentDarkCard {
    color: var(--c-text-on);
    background-color: var(--c-accent--dark);
    .about-cell__link {
        transition: all 0.3s ease;
        --icon-color: var(--c-text-on);
        .button__icon {
            --icon-color: var(--c-text-on);
        }
    }
    @media (min-width: $minHover) {
        // .about-cell__link:hover {
        &:hover .about-cell__link {
            opacity: 0.6;
            --icon-color: var(--c-accent--light);
            .button__icon {
                --icon-color: var(--c-accent--light);
            }
        }
    }
}
@mixin whiteCard {
    color: var(--c-text);
    // --icon-color: var(--c-accent);
    background-color: var(--bg-element);
    .about-cell__link {
        --icon-color: var(--c-accent);
        .button__icon {
            --icon-color: var(--c-accent);
        }
    }
}
@mixin whiteCardGridded {
    @include whiteCard();
    @media (min-width: $minHover) {
        // .about-cell__link:hover {
        &:hover .about-cell__link {
            --icon-color: var(--c-accent--dark);
            .button__icon {
                --icon-color: var(--c-accent--dark);
            }
        }
    }
}
@mixin blackCard() {
    color: var(--c-text-on);
    background-color: var(--black-card-bg);
    @media (min-width: $minHover) {
        // .about-cell__link:hover {
        &:hover .about-cell__link {
            --icon-color: var(--c-accent--dark);
            .button__icon {
                --icon-color: var(--c-accent--dark);
            }
        }
    }
}

.page-content--about {
    --black-card-bg: var(--c-text);
    padding-right: 80px;

    @media (max-width: 1100px) {
        padding-right: 0;
        padding-left: 0;
    }
}
.theme--dark .page-content--about {
    --black-card-bg: var(--c-element-disabled);
}

.page-content--about .tabs__track {
    @media (max-width: 1100px) {
        padding-right: 20px;
        padding-left: 20px;
    }
    @media (max-width: 576px) {
        padding-right: 16px;
        padding-left: 16px;
    }
}
@media (max-width: 575px) {
    .page-content--about .tab {
        margin-right: 8px;
    }
    .page-content--about .tab:last-child {
        margin-right: 0;
    }
}
.about__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1100px) {
        // width: calc(100% + 40px);
        // margin-left: -20px;
        width: 100%;
    }
    @media (max-width: 575px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.about-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 233px;
    padding: 32px 24px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    background-blend-mode: luminosity;
    @include whiteCard();

    @media (max-width: 1100px) {
        min-height: 209px;
        padding: 20px;
        padding-bottom: 16px;
    }
    @media (max-width: 575px) {
        width: 100%;
        min-height: 190px;
        padding: 16px;
    }
}

.about-cell--white {
    @include whiteCardGridded();
}
.about-cell--black {
    @include blackCard();
}
.about-cell--accent {
    @include accentCard();
}
.about-cell--accent-dark {
    @include accentDarkCard();
}
// .about__row--grided .about-cell {
//     @include whiteCardGridded();
// }

.about-cell::after {
    position: absolute;
    right: 24px;
    bottom: 24px;
    z-index: 2;
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media (max-width: 1100px) {
        right: 20px;
        bottom: 18px;
    }
    @media (max-width: 575px) {
        right: 16px;
        bottom: 16px;
        width: 38px;
        height: 38px;
    }
}

.about-cell__title {
    margin-bottom: 9px;
    font-size: 30px;
    font-weight: var(--fw-bold);
    line-height: var(--lh-h1);
    @media (max-width: 575px) {
        margin-bottom: 0;
        font-size: 24px;
    }
}

.theme--dark .about-cell__title {
    color: #fff;
}
.about-cell__title .text--smaller {
    @media (max-width: 575px) {
        font-size: 16px;
    }
}
.about-cell__desc {
    font-size: var(--fz-body--small);
    line-height: var(--lh-body--small);
}
.about-cell__link {
    display: inline-flex;
    justify-content: flex-start;
    padding: 0;
    margin-top: auto;
    --icon-color: var(--c-text-on);
    color: var(--icon-color);
}
// .about-cell:hover .about-cell__link,
.about-cell__link:hover {
    // --color: var(--icon-color);
    @media (min-width: $minHover) {
        --icon-color: var(--c-text-on);
        color: var(--icon-color);
    }
}
.about-cell__link .button__text {
    width: auto;
}
// .about-cell:hover .about-cell__link .button__text,
.about-cell__link:hover .button__text {
    @media (max-width: 575px) {
        text-decoration: underline;
        border-bottom-color: transparent;
    }
}

.about__row .text--secondary {
    line-height: 1.6;
    color: var(--c-text-grey-2);
    @media (max-width: 575px) {
        line-height: 1.7;
    }
}
.about__row .button--icon-right:hover .button__text {
    @media (max-width: 575px) {
        text-decoration: none;
        border-bottom-color: transparent;
    }
}

/*
    rows cells positions
*/

.about-cell__row {
    margin-bottom: 38px;
    @media (max-width: 575px) {
        margin-bottom: 33px;
    }
}
.about-cell__row:last-child {
    margin-bottom: 0;
}

/*
    rows cells colors
*/
.about__row--grided .about-cell__link:hover .button__text {
    border-bottom-color: transparent;
}
.about__row:not(.about__row--grided)
    .about-cell:first-child
    .about-cell__title {
    font-size: var(--fz-h2);
    line-height: var(--lh-h2);
}
.about__row:not(.about__row--grided) .about-cell__title + .text--secondary {
    margin-top: -10px;
    margin-bottom: 14px;
    @media (max-width: 575px) {
        margin-top: -13px;
        margin-bottom: 11px;
    }
}
.about__row:not(.about__row--grided):nth-child(odd) .about-cell:first-child {
    // @include accentCard();
    background-image: url("../img/about/world.png");
    --icon-color: var(--c-text-on);
    @media (max-width: 1100px) {
        padding-bottom: 20px;
        background-image: url("../img/about/world-tablet.png");
    }
    @media (max-width: 575px) {
        min-height: 250px;
        padding-bottom: 16px;
        background-position-x: right;
    }
    .about-cell__link:hover .button__text {
        border-bottom-color: transparent;
    }
}
.about__row:not(.about__row--grided) .about-cell:nth-child(2) {
    padding-right: 65px;
    padding-bottom: 28px;
    padding-left: 32px;

    @media (max-width: 1100px) {
        padding-right: 20px;
        padding-bottom: 16px;
        padding-left: 20px;
    }
    @media (max-width: 575px) {
        padding-top: 20px;
        padding-right: 16px;
        padding-bottom: 11px;
        padding-left: 16px;
        .about-cell__title {
            margin-bottom: 12px;
        }
    }
}
.about__row:not(.about__row--grided):nth-child(even) .about-cell:first-child {
    // @include accentDarkCard();
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url("../img/about/russia.png");
    @media (max-width: 1100px) {
        padding-bottom: 20px;
        background-image: url("../img/about/russia-tablet.png");
    }
    @media (max-width: 575px) {
        min-height: 252px;
        padding-bottom: 16px;
    }
}
.about__row:not(.about__row--grided):nth-child(even) .about-cell:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.about-cell--multilink .about-cell__link:hover {
    --icon-color: var(--c-accent);
}
.about-cell--multilink .about-cell__link:hover .button__icon {
    @media (min-width: $minHover) {
        --icon-color: var(--c-accent);
    }
}
// .about__row:not(.about__row--grided) .about-cell .about-cell__link:hover {
// --icon-color: var(--c-accent);
// }
// .about__row:not(.about__row--grided)
//     .about-cell
//     .about-cell__link:hover
//     .button__icon {
//     @media (min-width: $minHover) {
//         --icon-color: var(--c-accent);
//     }
// }
.about__row:not(.about__row--grided)
    .about-cell
    .about-cell__link:hover
    .button__text {
    @media (min-width: $minHover) {
        border-bottom-color: var(--c-accent);
    }
}
.theme--dark
    .about__row:not(.about__row--grided)
    .about-cell:first-child
    .about-cell__link {
    --icon-color: var(--c-text-on);
    .button__icon {
        --icon-color: var(--c-text-on);
    }
    &:hover {
        --icon-color: var(--c-text-on);
        .button__icon {
            --icon-color: var(--c-text-on);
        }
    }
}
.about-cell__link.button--on {
    .button__text {
        border-bottom: none;
    }
}
/*
    rows--grided cells colors
*/
.about__row--grided .about-cell {
    @media (max-width: 1100px) {
        background-size: cover;
    }
    @media (max-width: 575px) {
        background-size: contain;
    }
}
.about__row--grided {
    display: grid;
    grid-template-rows: [row-1-start] 1fr [row-1-end] 1fr;
    grid-template-columns: [one] 2fr [two] 1fr [three] 1fr;
    @media (max-width: 575px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.about__row--grided:nth-child(1) .about-cell:nth-child(1),
.about__row--grided:nth-child(6n) .about-cell:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    // @include accentCard();
    background-image: url("../img/about/1.png");
    background-size: 102%;
    @media (max-width: 575px) {
        min-height: 250px;
    }
}
.about__row--grided:nth-child(1) .about-cell:nth-child(1) .about-cell__title,
.about__row--grided:nth-child(6n) .about-cell:nth-child(1) .about-cell__title {
    @include aboutBiggerTitle();
}

.about__row--grided:nth-child(1) .about-cell:nth-child(2),
.about__row--grided:nth-child(6n) .about-cell:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    // @include whiteCard();
    @media (max-width: 575px) {
        min-height: 147px;
    }
}
.about__row--grided:nth-child(1) .about-cell:nth-child(2)::after,
.about__row--grided:nth-child(6n) .about-cell:nth-child(2)::after {
    content: "";
    background-image: url("../img/about/users.svg");
}

.about__row:nth-child(1) .about-cell:nth-child(3),
.about__row:nth-child(6n) .about-cell:nth-child(3) {
    // @include blackCard();
    @media (max-width: 575px) {
        display: none;
    }
}
.about__row--grided:nth-child(1) .about-cell:nth-child(4),
.about__row--grided:nth-child(6n) .about-cell:nth-child(4) {
    // @include accentDarkCard();
    @media (max-width: 575px) {
        display: none;
    }
}

.about__row--grided:nth-child(2) {
    grid-template-columns: [one] 1fr [two] 1fr [three] 2fr;
}
.about__row--grided:nth-child(2) .about-cell:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    // @include blackCard();
    @media (max-width: 575px) {
        order: 1;
        width: 50%;
    }
}
.about__row--grided:nth-child(2) .about-cell:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    // @include accentDarkCard();
    @media (max-width: 575px) {
        order: 3;
        width: 50%;
    }
}
.about__row--grided:nth-child(2) .about-cell:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    // @include accentCard();
    @media (max-width: 575px) {
        order: 2;
        width: 50%;
    }
}
.about__row--grided:nth-child(2) .about-cell:nth-child(4) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    // @include whiteCard();
    @media (max-width: 575px) {
        order: 4;
        width: 50%;
    }
}
.about__row--grided:nth-child(2) .about-cell:nth-child(5) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    // @include accentCard();
    background-image: url("../img/about/2.png");
    @media (max-width: 575px) {
        order: 4;
        min-height: 250px;
    }
}
.about__row--grided:nth-child(2) .about-cell:nth-child(5) .about-cell__title {
    @include aboutBiggerTitle();
}

.about__row--grided:nth-child(3) {
    grid-template-rows: 1fr;
    grid-template-columns: [one] 2fr [two] 1fr [three] 1fr;
}
.about__row--grided:nth-child(3) .about-cell:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-right: 65px;
    // @include accentDarkCard();
    @media (max-width: 575px) {
        min-height: 169px;
    }
}
.about__row--grided:nth-child(3) .about-cell:nth-child(1)::after {
    content: "";
    background-image: url("../img/about/swap.svg");
}
.about__row--grided:nth-child(3) .about-cell:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    // @include blackCard();
    @media (max-width: 575px) {
        width: 50%;
    }
}
.about__row--grided:nth-child(3) .about-cell:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    // @include whiteCard();
    @media (max-width: 575px) {
        width: 50%;
    }
}
.about__row--grided:nth-child(4) .about-cell:nth-child(1) {
    @media (max-width: 575px) {
        margin-top: -53px;
    }
}
.about__row--grided:nth-child(4) .about-cell:nth-child(1) .about-cell__title {
    @include aboutBiggerTitle();
}

.about__row:nth-child(4) .about-cell:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../img/about/3.png");
    // @include accentCard();
    @media (max-width: 575px) {
        order: 1;
        min-height: 250px;
    }
}
.about__row--grided:nth-child(4) .about-cell:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    // @include accentDarkCard();
    @media (max-width: 575px) {
        order: 2;
        width: 50%;
        min-height: 158px;
    }
}
.about__row--grided:nth-child(4) .about-cell:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    // @include accentCard();
    @media (max-width: 575px) {
        order: 4;
        width: 50%;
    }
}
.about__row--grided:nth-child(4) .about-cell:nth-child(4) {
    // @include whiteCard();
    @media (max-width: 575px) {
        order: 3;
        width: 50%;
        min-height: 158px;
    }
}
.about__row--grided:nth-child(4) .about-cell:nth-child(5) {
    // @include blackCard();
    @media (max-width: 575px) {
        order: 5;
        width: 50%;
    }
}

.about__row--grided:nth-child(5) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.about__row--grided:nth-child(5) .about-cell:nth-child(1) {
    grid-row-end: 2;
    padding-right: 65px;
    // @include blackCard();
    @media (max-width: 1100px) {
        padding-right: 55px;
    }
    @media (max-width: 575px) {
        order: 2;
        min-height: 169px;
        padding-right: 50px;
    }
}
.about__row--grided:nth-child(5) .about-cell:nth-child(1)::after {
    content: "";
    background-image: url("../img/about/flask.svg");
}

.about__row--grided:nth-child(5) .about-cell:nth-child(2) {
    padding-right: 65px;
    // @include accentDarkCard();
    @media (max-width: 1100px) {
        padding-right: 60px;
    }
    @media (max-width: 575px) {
        min-height: 169px;
        padding-right: 50px;
        margin-top: -34px;
    }
}
.about__row--grided:nth-child(5) .about-cell:nth-child(2)::after {
    content: "";
    background-image: url("../img/about/atom.svg");
}
