.detailed {
    --blocks-gap-big: 40px;
    --blocks-gap-small: 24px;
    font-size: var(--fz-body);
    line-height: var(--lh-body);
    color: var(--c-text);

    @media (min-width: 1100px) {
        max-width: 783px;
    }

    @media (min-width: 1800px) {
        margin-right: auto;
        margin-left: auto;
    }
}

.detailed__buttons {
    margin-bottom: var(--blocks-gap-big);
    @media (max-width: 576px) {
        margin-bottom: 32px;
    }
}

.detailed-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: var(--fz-body-small);
    line-height: var(--lh-body);
    color: var(--c-text-grey);
}

.detailed-meta__info {
    display: flex;
    align-items: center;
}

.detailed-meta__icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    fill: transparent;
    stroke: var(--c-accent);
}
.detailed-meta__title {
    margin-right: var(--blocks-gap-small);
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.detailed-meta__desc {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.detailed-meta__tags {
    display: flex;
    align-items: center;
}
.detailed-meta__tag {
    padding: 8px 12px;
    background-color: var(--bg-element);
    border-radius: 5px;
}
.detailed-meta__tags .detailed-meta__tag {
    margin-bottom: 0;
    font-size: var(--fz-tag);
    line-height: var(--lh-tag);
    color: var(--c-text-grey);
}

.detailed__title {
    margin-bottom: var(--blocks-gap-small);
    font-size: var(--fz-h1);
    font-weight: 700;
    line-height: var(--lh-h1);
    @media (max-width: 576px) {
        margin-bottom: 20px;
    }
}

.detailed .detailed__excerpt {
    margin-bottom: 32px;
    font-size: var(--fz-lead);
    line-height: var(--lh-lead);
}

.detailed figure,
.detailed picture,
.detailed img {
    border-radius: 5px;
}

.detailed figure {
    margin-bottom: var(--blocks-gap-big);
}
.detailed figcaption {
    margin-top: 12px;
    font-size: var(--fz-body--small);
    line-height: var(--lh-body--small);
    color: var(--c-text-grey);
}

.detailed h2 {
    margin-bottom: var(--blocks-gap-small);
    font-size: var(--fz-h2);
    font-weight: 700;
    line-height: var(--lh-h2);
    color: var(--c-text);
    @media (max-width: 575px) {
        margin-bottom: 16px;
    }
}
.detailed p {
    margin-bottom: var(--blocks-gap-big);
    font-size: var(--fz-body);
    line-height: var(--lh-body);
    color: var(--c-text);
}

.detailed blockquote {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 72px;
    margin-bottom: var(--blocks-gap-big);
    border-top: 1px solid var(--c-text-disabled);
    border-bottom: 1px solid var(--c-text-disabled);
    @media (max-width: 575px) {
        padding-left: 0;
    }
}
.detailed blockquote::before {
    position: absolute;
    top: 33px;
    left: 0;
    display: block;
    width: 40px;
    height: 33px;
    content: "";
    background-color: var(--c-accent);
    @include getmask("../img/icons/quote.svg");
    @media (max-width: 575px) {
        position: static;
        margin-bottom: 12px;
    }
}

.detailed blockquote p {
    margin-bottom: 1em;
}
.detailed cite {
    font-style: normal;
    font-weight: 700;
}

.detailed ol,
.detailed ul {
    margin-bottom: var(--blocks-gap-big);
    font-size: var(--fz-body);
    line-height: var(--lh-body);
    color: var(--c-text);
    list-style-type: none;
    @media (max-width: 575px) {
        margin-bottom: 24px;
    }
}

.detailed ol ul,
.detailed ul ol {
    margin-bottom: 0;
}

.detailed li {
    position: relative;
    padding-left: 32px;
}
.detailed li::before {
    position: absolute;
    left: 0;
    font-size: inherit;
    font-weight: 700;
    color: var(--c-accent);
}
.detailed ol {
    counter-reset: ol;
}

.detailed ol > li {
    counter-increment: ol;
}

.detailed ol > li:before {
    content: counter(ol) ".";
}

.detailed ul > li:before {
    content: "—";
}

.detailed p + ul,
.detailed p + ol {
    margin-top: -16px;
}

.detailed-slider figcaption {
    padding-top: 12px;
    border-top: 1px solid var(--c-text-disabled);
}

:is(.detailed-slider__slides, .detailed-slider__thumbs).swiper {
    margin-bottom: 12px;
}
.detailed-slider__slides .swiper-slide,
.detailed-slider__thumbs .swiper-slide {
    margin-bottom: 0;
}
.detailed-slider__slides img,
.detailed-slider__thumbs img {
    object-fit: cover;
}

.detailed-slider__thumbs .swiper-slide {
    width: 44px;
    height: 44px;
    border: 2px solid transparent;
    border-radius: 8px;
    @media (max-width: 575px) {
        width: 32px;
        height: 32px;
    }
}
.detailed-slider__thumbs .detailed-slider__slide--active {
    border-color: var(--c-accent);
}

.detailed footer {
    padding-top: var(--blocks-gap-small);
    border-top: 1px solid var(--c-text-disabled);
}

.detailed-meta--event .detailed-meta__title {
    font-weight: 700;
    color: var(--c-text);
}

/* author */
.detailed-author {
    display: flex;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 32px;
    border-top: 1px solid var(--c-text-disabled);
}

.detailed-author__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    background-color: var(--bg-element);
    border-radius: 5px;
}

.detailed-author__img {
    display: block;
    width: 60%;
    height: 60%;
}

.detailed-author .detailed-author__title {
    margin-bottom: 0;
    font-size: var(--fz-body--small);
    line-height: var(--lh-body--small);
    color: var(--c-text-grey);
}
.detailed-author__name {
    font-size: var(--fz-body-small);
    font-weight: 700;
    line-height: var(--lh-body-small);
}
