.header {
    @media (max-width: 1100px) {
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        pointer-events: initial;
        background: var(--bg-element);
        border-bottom: 1px solid var(--c-blind);
        border-bottom: none;
    }
    @media (max-width: 575px) {
        padding-top: 18px;
        padding-right: 20px;
        padding-bottom: 18px;
        padding-left: 20px;
    }
}
.menu--burger .header::after {
    @media (max-width: 1100px) {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        max-width: 384px;
        height: 1px;
        content: "";
        background-color: var(--c-blind);
    }
}
.header__button-search {
    position: relative;
    display: none;
    width: 32px;
    height: 32px;
    stroke: var(--c-text);
    transition: all 0.3s ease-in-out;
    @media (max-width: 1100px) {
        display: block;
    }
}
.header__button-search::before {
    position: absolute;
    top: 30.5%;
    right: 23.5%;
    width: 0;
    height: 2px;
    margin-top: -1px;
    content: "";
    background-color: var(--c-text);
    transform: rotate(-45deg);
    transform-origin: right top;
}
.header__button-search::after {
    position: absolute;
    right: 23.5%;
    bottom: 12.5%;
    width: 29%;
    height: 2px;
    margin-top: -1px;
    content: "";
    background-color: var(--c-text);
    transform: rotate(45deg);
    transform-origin: right bottom;
}
.header__button-search-icon {
    position: absolute;
    top: 15%;
    left: 10%;
    display: block;
    width: 20px;
    height: 20px;
    border-color: var(--c-text);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}
.header__button-search.active::before,
.header__button-search.active::after {
    width: 77.5%;
}
.header__button-search.active .header__button-search-icon {
    width: 0;
    height: 0;
    border-color: transparent;
}
.header__button-search::before,
.header__button-search::after,
.header__button-search .header__button-search-icon {
    transition: all 0.3s ease-in-out;
}
.header__button-search.active::before {
    top: 21.5%;
    right: 32.5%;
}
.header__button-search.active::after {
    right: 32.5%;
    bottom: 21.5%;
}

.header-logo {
    display: inline-block;
    width: auto;
    height: 36px;
    margin-bottom: 16px;
    @media (max-width: 1100px) {
        margin-bottom: 0;
    }
    @media (max-width: 576px) {
        height: 30px;
    }
}
.header-logo__pic {
    display: block;
    width: 100%;
    height: 100%;
}
.header-logo__img {
    object-fit: cover;
    object-position: left;
    @media (max-width: 576px) {
        object-fit: contain;
    }
}

.header-logo__pic--small {
    display: none;
}

.burger {
    // display: flex;
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: -4px;
    background-color: var(--c-accent);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1100px) {
        display: flex;
    }
}
.burger__line {
    position: absolute;
    display: block;
    width: 16px;
    height: 1px;
    margin-bottom: 5px;
    background-color: var(--c-text-on);
    transition: all 0.4s ease;
    transform: rotate(0) translateY(0);
}
.burger__line:last-child {
    margin-bottom: 0;
}
.burger__line:nth-child(1) {
    top: 13px;
}
.burger__line:nth-child(2) {
    top: 50%;
}
.burger__line:nth-child(3) {
    top: 23px;
}
.burger--opened .burger__line {
    position: absolute;
    top: 50%;
    margin-bottom: 0;
}
.burger--opened .burger__line:nth-child(1) {
    transform: rotate(45deg) translateY(-50%);
}
.burger--opened .burger__line:nth-child(2) {
    // transform: scaleX(0);
    opacity: 0;
}

.burger--opened .burger__line:nth-child(3) {
    transition: all 0.3s ease-in-out;
    transform: rotate(-45deg) translateY(-50%);
}
