.section {
    margin-bottom: 56px;
    @media (max-width: 575px) {
        margin-bottom: 47px;
    }
}
.section:last-child {
    margin-bottom: 0;
}
.section__heading {
    margin-bottom: 24px;
    @media (max-width: 575px) {
        margin-bottom: 18px;
    }
}

.section__latest .card__title {
    margin-bottom: 0;
    font-size: var(--fz-h4);
    line-height: var(--lh-h4);
}
.section__latest .card {
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.section__latest .card:last-child {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--c-blind);
}

.section__latest .card__tags {
    position: static;
    margin-bottom: 8px;
}
.section__latest .card__tag {
    background-color: var(--bg-app);
}
.section__latest .card__desc {
    margin-top: 12px;
}

.section--about {
    margin-bottom: 40px;
}
.section--about .section__heading {
    @media (max-width: 991px) {
        padding-right: 20px;
        padding-left: 20px;
    }
    @media (max-width: 575px) {
        padding-right: 16px;
        padding-left: 16px;
    }
}
.section--mission {
    margin-bottom: 36px;
    @media (max-width: 991px) {
        padding-right: 20px;
        padding-left: 20px;
    }
    @media (max-width: 575px) {
        padding-right: 16px;
        padding-left: 16px;
    }
}
